html, body{
    margin:0;
    width: 100%;
    padding: 0;
    background-color: #E7EBF1;
    
}
.side-nav ul{
    margin: 0;
    height: 100%;
    width: 10%;
    background-color: #242B32;
    list-style-type: none;
    position: fixed;
}
.side-nav li{
    padding-top: 10px;
    margin-top: 15px;
}

.dropdown-content{
    padding-left: 50px;
    background-color: #262626;
    display: none;
    
}

.dropdown-content a{
    padding-top: 5px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

i{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 50px;
}

.down-arrow{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
 
.side-nav li a.active{
    color: #4471B7;
}

.side-nav li a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}

.side-nav li a:hover{
    text-decoration: none;
    color: #4471B7;
}

.top-nav{
    overflow: auto;
    background-color: #4471B7;
    position: fixed;
    width: 100%;
}

.top-nav li{
    display: inline-block;
    list-style-type: none;
}

.left{
    float: left;
}
.right li{
    color: #FFFFFF;
    font-size: 20px;
    font-family:  "Lucida Console", Monaco, monospace;
    text-align: center;
    padding: 0 0 5px 0;
    letter-spacing: 4px;
    
}
.right{
    float: right;
    width: 15%;
}

.title h3{
    font-family: "Times New Roman", Times, serif;
    color:grey;
    letter-spacing: 2px;
}

.dash-container{
    padding-top: 30px;
    margin-left: 15%;
    height: 100%;  
    margin-bottom: 10%;
}


/* view sales css */

.view-sales-container{
    background-color: #FFFFFF;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 32px;
}

/* sales table css */
#sales{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#sales td, #sales th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 14px;
}

#sales tr:nth-child(even){background-color: #f2f2f2;}

#sales tr:hover {background-color: #ddd;}

#sales th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4471B7;
    color: white;
}


/* date picker css */
.search-input input[type=date]{
    width: 130px;
    padding: 2px 12px 1px 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
}


/* Add product CSS */

.product-container{
    background-color: #FFFFFF;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
}

.row{
    width: 100%;
    padding-top: 20px;
    height: 30px;
    
}

.row .left{
    width: 15%;
    float: left;

}
.row .right{
    width: 85%;
   
}

.product-container input[type=text], select{
    width: 50%;
    height: 25px;
    outline: none;
    border-radius: 1px;

}

.product-container input[type=text]:focus{
    border: 2px solid #4471B7;
}

.product-container label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.product-container select{
    background-color: aliceblue;
}

.product-container .add-btn, .cancel-btn {
    border-radius: 5px;
    width: 80px;
    padding: 5px;
    margin-top: 10px;
    margin-right: 20px;
    opacity: 0.7;
}

.product-container .add-btn{
    background-color: #4471B7;
   

}
.product-container .cancel-btn{
    background-color: #ffebee ;
}

.product-container .add-btn:hover, .cancel-btn:hover {
    opacity: 1;
}

.product-container .search-label{
    background-color: grey;
    border: 1px solid black;
    width: 35px;
    opacity: 0.7;
    border-radius: 5px;
}

.product-container .search-label:hover{
    opacity: 1;
}

/* search input fieldset css */
.search-input input[type=text] {
    width: 130px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    padding: 12px 5px 12px 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-bottom: 5px;
}

.search-input input[type=text]:focus{
    width: 50%;
}

.view-category-container .search-input input[type=text]{
    height: 10px;
}


/*view product table list css */

#view-products{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#view-products td, #view-products th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 14px;
}

#view-products tr:nth-child(even){background-color: #f2f2f2;}

#view-products tr:hover {background-color: #ddd;}

#view-products th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4471B7;
    color: white;
}


/* view category css */
.view-category-container{
    background-color: #FFFFFF;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 32px;
}


.view-category-container .add-btn{
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    opacity: 0.7;
    background-color: #4471B7;
    margin-bottom: 10px;
}

.view-category-container .add-btn:hover{
    opacity: 0.9;
}

#category{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#category td, #category th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 14px;
}

#category tr:nth-child(even){background-color: #f2f2f2;}

#category tr:hover {background-color: #ddd;}

#category th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4471B7;
    color: white;
}

/* Error messages */
#no-category, #no-products{
    text-align: center;
    font-family:  "Lucida Console", Monaco, monospace;
    font-size: 15px;
    color: red
}