html, body{
    margin:0;
    width: 100%;
    padding: 0;
    background-color: #E7EBF1;
    
}
.side-nav ul{
    margin: 0;
    height: 100%;
    width: 10%;
    background-color: #242B32;
    list-style-type: none;
    position: fixed;
}
.side-nav li{
    padding-top: 10px;
    margin-top: 15px;
}

.dropdown-content{
    padding-left: 50px;
    background-color: #262626;
    display: none;
    
}

.dropdown-content a{
    padding-top: 5px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

i{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 50px;
}

.down-arrow{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
 
.side-nav li a.active{
    color: #4471B7;
}

.side-nav li a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}

.side-nav li a:hover{
    text-decoration: none;
    color: #4471B7;
}

.top-nav{
    overflow: auto;
    background-color: #4471B7;
    position: fixed;
    width: 100%;
}

.top-nav li{
    display: inline-block;
    list-style-type: none;
}

.left{
    float: left;
}
.right li{
    color: #FFFFFF;
    font-size: 20px;
    font-family:  "Lucida Console", Monaco, monospace;
    text-align: center;
    padding: 0 0 5px 0;
    letter-spacing: 4px;
    
}
.right{
    float: right;
    width: 15%;
}

.title h3{
    font-family: "Times New Roman", Times, serif;
    color:grey;
    letter-spacing: 2px;
}

.dash-container{
    padding-top: 30px;
    margin-left: 15%;
    height: 100%;  
    margin-bottom: 10%;
}


/* view sales css */

.view-sales-container{
    background-color: #FFFFFF;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 32px;
}

/* sales table css */
#sales{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#sales td, #sales th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 14px;
}

#sales tr:nth-child(even){background-color: #f2f2f2;}

#sales tr:hover {background-color: #ddd;}

#sales th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4471B7;
    color: white;
}


/* date picker css */
.search-input input[type=date]{
    width: 130px;
    padding: 2px 12px 1px 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
}


